/* Global styles ============= */

html,
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

a {
  color: #fdcc52;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/* nav bar */
#mainNavStyle {
  background-color: #b3b2b2;
  font-weight: 500;
}
header.masthead {
  background-image: url("/images/bg-img.svg");
  position: relative;
  max-width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  height: auto;
}

/* hero section */
.heroText {
  margin-top: 20%;
  max-width: 700px;
  text-align: center;
}

header.heroImageContainer img {
  height: 10%;
}

/* download section */
.download {
  background-color: #fdcc52;
  color: #000000;
  padding: 15%;
  padding-left: 30%;
}
/* testimonial */
.testimonial {
  color: #000000;
  padding: 5%;
}

.testimonial-heading {
  font-size: 50px;
}

/* susbscribe section */

.subscribe-section {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      #000000 100%
    ),
    url("/images/SF.svg");

  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 30%;
}

.contact-bg {
  background-color: #000000 !important;
}

.card {
  padding: 30px;
}

.text-logo {
  font-size: 20px;
  color: rgb(37, 139, 212);
}

.text-logo h4 {
  font-size: 15px;
  font-weight: 500;
}

h5 {
  font-style: normal;
  font-size: 15px;
}

.social-media-logo a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  color: rgb(255, 255, 255) !important;
  border-radius: 100%;
  background: #303030;
  margin: 0.5rem;
}

footer {
  background-color: #5d5d5d;
  color: #ffffff;
  padding: 0.5rem;
}
